@model PasswordResetViewModel

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner"> 
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-0-phone"></div>
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
            <h5 class="ranger-title mdc-typography--headline5 text-align-center">A password reset link is being sent to the address provided.</h5>
        </div>
    </div>
</div>