@model PasswordResetViewModel

<div class="mdc-layout-grid">
    <div class="app-bar-push"></div>
    <div class="mdc-layout-grid__inner"> 
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-0-phone"></div>
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
        <h5 class="ranger-title mdc-typography--headline5 text-align-center">Forgot Password</h5>
            <div class="mdc-elevation--z3">
                <form asp-route="PasswordReset">
                    <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                        <!-- <label for="text-field-hero-input" class="mdc-floating-label">Username</label> -->
                        <input placeholder="Email" class="mdc-text-field__input" asp-for="Email" autofocus>
                    <div class="mdc-line-ripple"></div>
                        </div>
                    <div class="mdc-layout-grid__inner"> 
                        <div class="mdc-layout-grid__cell
                                    mdc-layout-grid--align-right 
                                    mdc-layout-grid__cell--align-middle 
                                    mdc-layout-grid__cell--span-12-desktop 
                                    mdc-layout-grid__cell--span-8-tablet 
                                    mdc-layout-grid__cell--span-4-phone
                                    bottom-form-controls">
                            <div class="mdc-form-field">
                                <button id="submit" class="mdc-button mdc-button--raised" name="button" value="login">
                                    <span class="mdc-button__ripple"></span> 
                                    Send Reset Email
                                </button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>