@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}


<div class="mdc-layout-grid">
    <div class="app-bar-push"></div>
    <div class="app-bar-push"></div>
    <div class="mdc-layout-grid__inner"> 
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-0-phone"></div>
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
            <h5 class="ranger-gutters mdc-typography--headline5 text-align-center">You have successfully logged out.</h5>
        </div>
    </div>
    <a style={visibility:hidden} class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri"></a>
</div>

<!-- 
<div class="page-header logged-out">
    <h6 class="mdc-typography--headline6">
        You have successfully logged out.
    </h6>
    <h6 class="mdc-typography--headline6">
        Returning to Ranger.
    </h6>
    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }
</div> -->

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
