@model LoginViewModel

<div class="mdc-layout-grid">
   <div class="app-bar-push"></div>
   <div class="app-bar-push"></div>
   <div class="mdc-layout-grid__inner"> 
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-0-phone"></div>
        <div class="mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
            @if (Model.EnableLocalLogin)
            {
                <h5 class="mdc-typography--headline5 text-align-center">Login</h5>
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />
                        <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                            <!-- <label for="text-field-hero-input" class="mdc-floating-label">Username</label> -->
                            <input placeholder="Username" class="mdc-text-field__input" asp-for="Username" autofocus>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field mdc-text-field--fullwidth" data-mdc-auto-init="MDCTextField">
                            <!-- <label for="text-field-hero-input" class="mdc-floating-label">Password</label> -->
                            <input placeholder="Password" class="mdc-text-field__input" type="password" autocomplete="off" asp-for="Password">
                            <div class="mdc-line-ripple"></div>
                        </div>
                    <div class="mdc-layout-grid__inner"> 
                        <!-- @if (Model.AllowRememberLogin)
                        {
                            <div class="mdc-layout-grid__cell
                                        mdc-layout-grid__cell--align-left
                                        mdc-layout-grid__cell--span-6-desktop 
                                        mdc-layout-grid__cell--span-4-tablet 
                                        mdc-layout-grid__cell--span-2-phone">
                                <div class="mdc-form-field">
                                    <div class="mdc-checkbox">
                                        <input type="checkbox" class="mdc-checkbox__native-control" id="RememberLogin"/>
                                        <div class="mdc-checkbox__background mdc-theme--primary">
                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                            </svg>
                                            <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                    </div>
                                    <label asp-for="RememberLogin">Remember Me</label>
                                </div>
                            </div>
                        } -->
                        <div class="mdc-layout-grid__cell
                                    mdc-layout-grid--align-right 
                                    mdc-layout-grid__cell--align-middle 
                                    mdc-layout-grid__cell--span-12-desktop 
                                    mdc-layout-grid__cell--span-8-tablet 
                                    mdc-layout-grid__cell--span-4-phone">
                            <div class="mdc-form-field">
                                <button class="mdc-button mdc-button--raised" name="button" value="login">
                                    <span class="mdc-button__ripple"></span> 
                                    Login
                                </button>
                            </div>
                        </div> 
                    </div>
                </form>
            }
            <partial name="_ValidationSummary" />
        </div>
    </div>

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }
</div>