@using IdentityServer4.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranger Labs</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/material.css" />
</head>
<body class="mdc-typography">
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="https://rangerlabs.io">
                    <h5 class="mdc-typography--headline5 text-align-center">RANGER</h5>
                </a>
            </section>
        </div>
    </header>

    <div class="app-bar-push"></div>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/material-components-web/material-components-web.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
