html,
body {
    height: 100%;
    margin: 0px;
}

.app-bar-push {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
}

.text-align-center {
    text-align: center;
}

.validationResult ul li {
    list-style-type: none;
    color: #f44336;
}
